body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  width: 320px;
  height: 500px;
  background-color: #FFF;
  border: 1px solid #000;
}

.calculator-screen-container {
  width: 100%;
  height: 100px;
  background-color: #FFF;
}

.calculator-buttons-container {
  width: 100%;
  /* 500 - 100 = 400 */
  height: 100%;
}