:root {
    --Bg-btn-number: #E9F0F4;
    --Bg-btn-operation-basic: #FF9500;
    --Bg-btn-operation-advanced: #B1CBDC;
    --Bg-btn-action: #E87A72;
}


.custom-btn {
    font-size: 1.2em;
    width: 68px;
    height: 68px;
    border: none;
    border-radius: 10px;
    margin: 6px;
    /* el margin lo hacen la suma de lo que se le resta al width y height */
    /*
    arriba(height) = 6
    abajo(height) = 6 
    TOTAL = 12

    izquierda(width) = 6
    derecha(width) = 6
    TOTAL = 12
    */
}

.btn-number {
    color: #000;
    background-color: var(--Bg-btn-number);
}

.btn-operation-basic {
    color: #FFF;
    background-color: var(--Bg-btn-operation-basic);
}

.btn-operation-advanced {
    background-color: var(--Bg-btn-operation-advanced);
}

.btn-action {
    background-color: var(--Bg-btn-action);
}