
.custom-btn {
    font-size: 1em;
    font-weight: 500;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 6px;
    /* el margin lo hacen la suma de lo que se le resta al width y height */
    /*
    arriba(height) = 6
    abajo(height) = 6 
    TOTAL = 12

    izquierda(width) = 6
    derecha(width) = 6
    TOTAL = 12
    */
}

.custom-btn:hover {
    cursor: pointer;
}

.btn-number {
    color: var(--Txt-Color-btn-number);
    background-color: var(--Bg-btn-number);
}

.btn-number:hover, .btn-operation-advanced:hover{
    background-color: var(--Bg-btn-number-hover);
}

.btn-operation-basic {
    color: var(--Txt-Color-btn-operation-basic);
    background-color: var(--Bg-btn-operation-basic);
}

.btn-operation-basic:hover {
    background-color: var(--Bg-btn-operation-basic-hover);
}

.btn-operation-advanced {
    background-color: var(--Bg-btn-operation-advanced);
    color: var(--Txt-Color-btn-operation-advanced);
}

.btn-action-del, .btn-action-clear {
    background-color: var(--Bg-btn-action-del);
    color: var(--Txt-Color-btn-action-del);
}

.btn-action-del:hover, .btn-action-clear:hover {
    background-color: var(--Bg-btn-action-del-hover);
}


.btn-action-result {
    width: 112px;
    background-color: var(--Bg-btn-action-result);
    color: var(--Txt-Color-btn-action-result);
}